<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list *ngIf="weatherList">
  <ion-item *ngFor="let weatherInfo of weatherList">
    <ion-thumbnail item-start>
      <img src="https://openweathermap.org/img/w/{{weatherInfo.weather[0].icon}}.png"/>
    </ion-thumbnail>
    <h2>{{weatherInfo.weather[0].main}}</h2>
    <p>{{weatherInfo.dt * 1000 | date:'medium'}}</p>

    <button ion-button clear item-end (click)="detailTapped(weatherInfo)">View</button>
  </ion-item>
</ion-list>
</ion-content>
