<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Weather" tabIcon="partly-sunny"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Forecast" tabIcon="ios-moon"></ion-tab>
</ion-tabs>
