<!--
  Generated template for the WeatherDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary">
    <ion-title>Detail Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
 <ion-thumbnail item-start>
  <img src="https://openweathermap.org/img/w/{{weatherInfo.weather[0].icon}}.png"/>
 </ion-thumbnail>
  <ion-card-content>
  <h2>{{weatherInfo.dt * 1000 | date:'medium'}}</h2>
    <h3>{{weatherInfo.weather[0].main}}</h3>
    <h4>{{weatherInfo.weather[0].description}}</h4>
 <p> Low: {{weatherInfo.temp.min - 273 |  number : '1.2-2'}} 
 High: {{weatherInfo.temp.max - 273 |  number : '1.2-2'}}</p>
  <p>{{weatherInfo.humidity}}</p>
  <p>{{weatherInfo.pressure}}</p>
  </ion-card-content>

 

</ion-card>
</ion-content>
