<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label>Enter Location</ion-label>
    <ion-input [(ngModel)]="currentLocation" type="text"></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button (click)=weatherTapped(currentLocation) ion-button block color="secondary">Get Weather</button>
</div>
<div  *ngIf="weatherInfo" >

<img src="https://openweathermap.org/img/w/{{weatherInfo.weather[0].icon}}.png"/>

<h3>{{weatherInfo.weather[0].main}}</h3>
<p>{{weatherInfo.weather[0].description}}</p>
 <p> Low: {{weatherInfo.main.temp_min - 273 |  number : '1.2-2'}} 
 High: {{weatherInfo.main.temp_max - 273 |  number : '1.2-2'}}</p>


</div>
</ion-content>
